footer{
    width: 100%;
    height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_con{
    width: 80%;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_left img{
    margin-bottom: 16px;
}
.footer_left p{
    font-size: 14px;
    color: #645C55;
    line-height: 20px;
}
.footer_right{
    width: 112px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}