.sect_one{
    width: 100%;
    height: 782px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiperHeader{
    height: 810px !important;
}
.swiperSectOne{
    height: 810px !important;
}
.swiperSectTwo{
    height: 810px !important;
}
.swiperItself{
    height: auto;
}
.swiper-slide{
    height: auto;
}

.sect_one_con{
    width: 50%;
    height: 582px;
    display: flex;
}
.sect_one_left{
    width: 35%;
    height: 582px;
}
.sect_one_left p{
    font-size: 32px;
    color: #403E3B;
    line-height: 32px;
}
.sect_one_right{
    width: 65%;
    height: 582px;
    display: flex;
    flex-direction: column;
}
.sect_one_right_top p{
    width: 493px;
    height: 160px;
}
.sect_one_right_bot{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.sect_one_right_bot_img img{
    margin-right: 30px;
}
.sect_one_right_bot_text p:nth-of-type(1){
    font-size: 17px;
    line-height: 20px;
}
.sect_one_right_bot_text p:nth-of-type(2){
    font-size: 14px;
    line-height: 17px;
    color: #403E3B;
}
.sect_two{
    width: 100%;
    height: 600px;
    background-image: url(../img/sectTwoImg.png);
    display: flex;
    justify-content: end;
}
.sect_two_con{
    width: 20%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-right: 50px;
}
.sect_two_con p:nth-of-type(1){
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #645C55;
}
.sect_two_con p:nth-of-type(2){
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}